<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" type="text/css" href="/css/all.css">
</head>

<body>
    <div id="container">
    {{>header}}
    <img class="img" src="/img/me.png">
    </div>
    
    {{>footer}} 
</body>

</html>