body{
    background-color: lavender;
    color: #333333;
    font-family: Arial;
    width: 70%;
    height: auto;
    position: relative;
    margin: 0px auto;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#container{
    flex-grow: 1;
}

footer{
    background-color: #333333;
    color: white;
    box-shadow: 0px 0px 1px 2px #333333;
    padding: 5px 0px;
    margin-top: 1%;
}


#menu a{
    text-decoration: none;
    color: #333333;
    font-family: Arial;
}

#menu a:hover{
    color: blue;
    text-decoration: bold;
    font-weight: bold;
}

h1{
    font-size: 64px;
}

.img{
    width: 20%;
}

input{
    border: 1px solid #888888;
    padding: 8px;
}

button{
    cursor: pointer;
    border: 1px solid #888888;
    background-color: #888888;
    padding: 8px;
    color: white;
}